@model RxWebApp.ViewModels.OrdersViewModel

@{
    ViewBag.Title = "Orders";
}

<h2>Orders</h2>

@if (Model != null && Model.AllOrders.Count != 0)
{

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">

@foreach (var item in Model.AllOrders)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalSum)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
}
else
{
    <div style="padding: 0 0 20px 15px;">
        No current orders
    </div>
}
